<nav class="light-blue">
  <div class="nav-wrapper">
    <a routerLink="/login" class="brand-logo">Simple Interface</a>
    <a href="#" materialize="sideNav"  data-activates="mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a routerLink="/menu1">Menu1</a></li>
      <li><a routerLink="/menu2">Menu2</a></li>
      <li><a routerLink="/menu3">Menu3</a></li>
      <li><a routerLink="/menu4">Menu4</a></li>
    </ul>
    <ul class="side-nav" id="mobile">
      <li><a routerLink="/menu1">Menu1</a></li>
      <li><a routerLink="/menu2">Menu2</a></li>
      <li><a routerLink="/menu3">Menu3</a></li>
      <li><a routerLink="/menu4">Menu4</a></li>
    </ul>
  </div>
</nav>
