<nav class="light-blue">
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo">Simple Interface</a>
    <a href="#" materialize="sideNav"  data-activates="mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="menu1.html">Menu1</a></li>
      <li><a href="menu2.html">Menu2</a></li>
      <li><a href="menu3.html">Menu3</a></li>
      <li><a href="menu4.html">Menu4</a></li>
    </ul>
    <ul class="side-nav" id="mobile">
      <li><a href="menu1.html">Menu1</a></li>
      <li><a href="menu2.html">Menu2</a></li>
      <li><a href="menu3.html">Menu3</a></li>
      <li><a href="menu4.html">Menu4</a></li>
    </ul>
  </div>
</nav>
