<div class="row">
  <h5 class="center">Login</h5>
  <form class="col s12" >
    <div class="row">
      <div class="input-field col s6 offset-s3 " >
        <input [(ngModel)]="user.username" [ngModelOptions]="{standalone:true}" id="username" type="text" class="validate">
        <label class="active" for="usernamme">Login</label>
      </div>
      <div class="input-field col s6 offset-s3 " >
        <input [(ngModel)]="user.password" [ngModelOptions]="{standalone:true}" id="password" type="password" class="validate">
        <label class="active" for="password">Senha</label>
      </div>
    </div>
    <div class="input-field col s6 offset-s3 ">
      <button class="btn waves-effect waves-light" type="submit" name="action" (click)="doLogin()">Login<i class="material-icons right">send</i></button>
    </div>
  </form>
</div>
